.lessonDark {
  background-color: #121212;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.lessonLight {
  background-color: #ffffff;
  color: #121212;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Styles spécifiques pour les titres de module */
.lessonDark :global(.module-title) {
  color: #ffffff !important;
  font-weight: bold;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.lessonLight :global(.module-title) {
  color: #121212 !important;
  font-weight: bold;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
